body {
  background-color: white;
  font-family: Roboto, Arial;
  color: black;
  margin: 0;
  padding-top: 55px;
  padding-left: 80px;
  height: 1500px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER SECTION */

.header {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 24px;
  flex-shrink: 0;
}

.search-bar {
  flex: 1;
  color: #3d3d3d;
  font-size: 16px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 36px;
  padding-left: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  background-color: white;
  z-index: 2;
  width: 72px;
  padding-top: 5px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
}

.sidebar-link:hover {
  background-color: rgba(202, 202, 202, 0.356);
}

.sidebar-text {
  font-size: 10px;
}

.sidebar-icons {
  width: 24px;
  margin-bottom: 5px;
}

/* ICONS */

.notifications-container {
  position: relative;
  cursor: pointer;
}

.notification-count {
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 11px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  /* bottom: 10px;
  left: 13px; */
  top: -2px;
  right: -4px;
}
.icons {
  cursor: pointer;
}

.youtube-icon {
  height: 20px;
}

.hamburger-icon {
  height: 24px;
  margin: 0px 24px;
}

.voice-search-icon {
  width: 25px;
  margin-top: 2px;
}

.search-icon {
  height: 24px;
  margin-top: 4px;
}

.upload-icon,
.apps-icon,
.notifications-icon,
.current-user-pic {
  height: 24px;
}

.current-user-pic {
  border-radius: 20px;
  height: 30px;
}

/* BUTTONS */

.search-button {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  margin-left: -1px;
  height: 40px;
  width: 66px;
  margin-right: 8px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(202, 202, 202, 0.356);
}

.search-button:active {
  background-color: rgba(202, 202, 202, 0.5);
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f7f7f7;
}

/* VIDEO SECTION */

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.thumbnails {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.video-title {
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
  cursor: pointer;
}

.video-author,
.video-stats {
  color: grey;
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
  cursor: pointer;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.time-stamp {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 11px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3px;
  bottom: 10px;
  right: 8px;
}
