body {
  background-color: white;
  font-family: Roboto, Arial;
  color: black;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER SECTION */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}

/* ICONS */

.youtube-icon {
  height: 20px;
}

.hamburger-icon {
  height: 24px;
  margin: 0px 24px;
}

.search-bar {
  color: #3d3d3d;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 35px;
  width: 300px;
  padding-left: 15px;
}

.search-button {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-left: none;
  height: 39px;
  width: 60px;
  border-radius: 0;
  margin-right: 10px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f7f7f7;
}

.voice-search-icon {
  width: 25px;
}

.search-icon {
  height: 23px;
}

/* VIDEO SECTION */

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* .video-preview {
  max-width: 300px;
} */

.thumbnails {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}

.video-title {
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}

.video-author,
.video-stats {
  color: grey;
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
}
